@import "tailwindcss";

:root {
  --primary: #262a32;
  --secondary: #3e56a0;
  --tertiary: #7792ad;
  --textPrimary: #ffffff;
  --textSecondary: #9c9791;
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }

  .bg-secondary {
    background-color: var(--secondary);
  }

  .bg-tertiary {
    background-color: var(--tertiary);
  }

  .text-primary {
    color: var(--textPrimary);
  }

  .text-secondary {
    color: var(--textSecondary);
  }

  .color-primary {
    background-color: var(--primary);
  }

}